li{
    border: 1px solid grey;
    width: 30%;
    padding: 0.4em 0.4em 1em 0.4em;
    list-style-type: none;
    margin-bottom: 1.3em; 
}
.listdiv{
    padding-right: 1.3em;
    font-style: italic;
    color: grey;
}

.lineCheck{
    text-decoration: line-through;
}